streamlit
fastapi
uvicorn[standard]
pydantic
langchain
langchain-community
langchain-groq
langchain-chroma
langchain-huggingface
chromadb
sentence-transformers
pypdf
python-multipart
httpx
requests
groq
protobuf==3.20.3
opentelemetry-api
opentelemetry-sdk